.well {
  display: none;
  background-image: url("https://codepen.io/saransh/pen/BKJun/image/large.png");
  color: white;
  border-style: inset;
  width: 455px;
  float: right;
  overflow: hidden;
  text-overflow: ellipsis;
}


.form-control-sm {
  margin-top: 15px;
  margin-left: 15px;
  border-color: #f2f2f2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.50);
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

p {
  font-size: 22px;
  width: 400px;
}

img {
  width: 500px;
  display: block;
  margin: 0 auto;
}

.foreground {
  background-color: white;
  color: black;
  margin: 0px 100px 100px 100px;
  padding: 30px;
  border-radius: 40px;
  border-style: outset;
}

body {
  background-image: url("http://proxy53.hellorf.com/ak9/shutterstock/videos/20776969/thumb/1.jpg");
  font-family: 'Yantramanav', sans-serif;
}

button {
  font-family: 'Orbitron', sans-serif;
  background-color: #cccccc;
  margin-top: 10px;
  color: white;
}
