.well {
  display: none;
  background-image: url("https://codepen.io/saransh/pen/BKJun/image/large.png");
  color: white;
  border-style: outset;
  margin-top: 10px;
  width: 500px;
  margin-left: 300px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

p {
  font-size: 22px;
  width: 400px;
  margin-bottom: 10px;
}

img {
  width: 500px;
  display: block;
  margin: 0 auto;
}

.foreground {
  background-color: white;
  margin: 10px 100px 10px 100px;
  padding: 30px;
  border-radius: 45px;
  border-style: groove;
}

body {
  background-color: black;
  font-family: 'Yantramanav', sans-serif;
}

button {
  font-family: 'Orbitron', sans-serif;
}
